.my-wizards {
  &__wrapper {
    background-color: #1f2022;
    border-radius: 24px;
    padding: 0.75rem;
    &:has(.my-wizards__hero__img) {
      padding: 5px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-block-start: 1.5rem;
    padding: 0 0.75rem;

    &__title {
      color: #fff;
      font-family: var(--bs-body-font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &__description {
      font-family: "Inter", sans-serif;
      color: #e0e0e1;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__hero {
    display: grid;
    grid-template-areas: "stack";

    & > * {
      grid-area: stack;
    }

    &__img {
      object-fit: cover;
      width: 100%;
    }

    &__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 56px;
      padding: 1rem 2rem;
    }
  }

  &__card-wrapper {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
  }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 699px) {
  .my-wizards__hero__title {
    font-size: 24px;
    line-height: 28px;
    padding: 1rem 1rem;
  }
}
