@import "../node_modules/bootstrap/scss/bootstrap";

@import "abstract/variables";
@import "./utils";

@import "components/sidebar";
@import "components/card";
@import "components/footer";
@import "components/wallet_list";
@import "components/avatar_image";
@import "components/page_loader";
@import "components/buttons";
@import "components/my_wizard";
@import "components/banner";

@import "pages/chat";
@import "pages/persona";
@import "pages/admin_whitelist";

// TODO: download font locally
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

:root {
  --bs-body-font-family: "DM Sans", sans-serif;
  --primary-hover-color: #00717a;
  --primary-success: #00d67f;
  --bs-body-font-color: #6f6f6f;
  // --title-color: #4b4e53;
}

body {
  color: var(--body-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: var(--title-color);
}

a {
  color: var(--elna-primary-color);
}

a.elna-link {
  color: var(--elna-primary-color);

  &:hover {
    color: var(--title-sub-color);
  }
}

.text-muted {
  color: var(--text-opacity);
}

.hk-wrapper {
  position: relative;
  background-color: var(--background-base);
}

.hk-pg-wrapper {
  position: relative;
  min-height: 100vh;
}

.hk-wrapper .hk-navbar {
  border-bottom: 1px solid var(--background-base-border);
  height: 65px;
}

.hk-navbar.navbar * .dropdown {
  margin-right: 0.75rem;
}

a {
  text-decoration: none;
  color: #007d88;
}

.btn-primary {
  background-color: var(--elna-primary-color) !important;
  border: var(--elna-primary-color) !important;
  color: var(--elna-primary-text-color) !important;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
  border: var(--primary-hover-color);
}

.btn-success {
  color: var(--elna-primary-text-color);
  background-color: var(--primary-success);
  border-color: var(--primary-success);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

p.p-sm {
  font-size: 0.875rem;
}

header {
  height: 65px !important;
}

.el-bg-danger {
  background-color: var(--el-bg-danger) !important;
}

.mt-1 {
  margin-top: var(--size-1);
}

.mt-2 {
  margin-top: var(--size-2);
}

.hk-pg-body {
  padding: 2rem 0;
}

.hk-ribbon-type-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  background: #007d88;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  min-height: 26px;
  top: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hk-ribbon-type-1.overhead-center {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  right: auto;
}

.badge-icon.badge-icon-xxs {
  width: 1.5rem;
  height: 1.813rem;
  font-size: 1rem;
}

.badge-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.badge-icon > svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.position-relative {
  position: relative !important;
}

.position-bottom-end-overflow {
  bottom: 0 !important;
  right: 0 !important;
  top: auto !important;
  -webkit-transform: translate(50%, 50%) !important;
  -moz-transform: translate(50%, 50%) !important;
  -ms-transform: translate(50%, 50%) !important;
  -o-transform: translate(50%, 50%) !important;
  transform: translate(50%, 50%) !important;
}

.position-bottom-end-overflow {
  position: absolute !important;
  z-index: 2;
}

.avatar .avatar-img,
.avatar .initial-wrap {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  background-color: transparent;
}

.text-blue {
  color: rgba(41, 141, 255) !important;
}

/*Chat Page*/
textarea.chat-input-area {
  width: 100%;
  max-height: 200px;
  height: 64px;
  overflow-y: hidden;
  border: 2px solid var(--background-form-border);
  padding: var(--size-4) var(--size-6);
  background-color: var(--background-base);
  border-radius: var(--size-5);
  resize: none;
  color: #fff;
}

.hk-wrapper.default .hk-footer.chatfooter {
  margin-left: 270px;
  backdrop-filter: blur(4px);
  background: var(--background-base);
  border: transparent;
}

.hk-wrapper.collapsed .hk-footer.chatfooter {
  margin-left: 72px;
}

.hk-footer.chatfooter {
  z-index: 1030 !important;
  position: fixed;
  border-color: var(--background-form-border);
}

.hk-footer.chatfooter .chatfooter-bg p {
  color: var(--body-color);
  padding-top: 10px;
  margin-bottom: 10px;
}

.chatfooter-bg {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 50rem;
}

.chatfooter-bg button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
}

.input-position-set {
  position: relative;
}

textarea.chat-input-area:focus,
textarea.chat-input-area:focus-visible {
  border: 2px solid var(--background-form-border-hover);
  outline: var(--background-form-border-hover);
}

.no-history {
  padding: 120px 30px;
}

.no-history h4 {
  color: #ccc;
  margin-bottom: 0px;
}

.media-body .msg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-body .msg-box > div {
  padding: 0.625rem 1rem;
  border-radius: 1.25rem;
  display: inline-block;
  position: relative;
}

.media-body .msg-box > div {
  background: #f2f2f2;
}

.media-body .msg-box:first-child > div {
  border-top-left-radius: 0;
}

@keyframes dotTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #99cbcf;
    opacity: 1;
  }

  28% {
    transform: translateY(-7px);
    background-color: #99cbcf;
    opacity: 0.9;
  }

  44% {
    transform: translateY(0px);
    background-color: #99cbcf;
    opacity: 0.8;
  }
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;

  .dot {
    animation: dotTypingAnimation 1.8s infinite ease-in-out;
    background-color: #99cbcf;
    opacity: 1;
    height: 5px;
    border-radius: 50%;
    margin-right: 0.25rem;
    vertical-align: middle;
    width: 5px;
    display: inline-block;

    &:nth-child(1) {
      animation-delay: 200ms;
    }

    &:nth-child(2) {
      animation-delay: 300ms;
    }

    &:nth-child(3) {
      animation-delay: 400ms;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.text-decoration-none.btn-link:hover {
  color: var(--title-sub-color);
}

.btn-link.stretched-link {
  cursor: pointer;
  color: var(--title-color);
}

.sub-title-bot {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 4px;
}

.sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

.sub-title.w-100 {
  margin-left: 32px;
}

.bot-name-modal .modal-footer {
  border-top: none;
}

.modal-backdrop {
  opacity: 0.75 !important;
}

.bot-name-modal .modal-header {
  // background-color: var(--background-base-border);
}

.bot-name-modal .modal-content * .form-control {
  // background-color: var(--background-base-border);
  // border-color: var(--background-form-border);
  color: var(--title-color);

  &::placeholder {
    color: var(--placeholder-text-w);
  }
}

.el-danger {
  background-color: var(--el-bg-danger) !important;
}

.bg-elavate {
  background-color: #333840;
  border-radius: var(--size-1);
}

.btn-modal-cancel {
  margin-left: var(--size-2);
}

.bot-name-modal .btn-close {
  background-color: var(--el-btn-bg-secondary);
}

.badge.badge-soft-pink {
  background: #fdeef6;
  color: #e92990;
}

.badge.badge-sm {
  font-size: 60%;
  padding: 0.25rem 0.5rem;
  min-width: 19px;
}

.nav-item a.nav-pill-chat.active {
  background: none;
  color: #007d88;
  font-weight: bold;
  border-bottom: 3px solid #007d88;
  border-radius: 0px;
  padding: 12px 20px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.nav-item a.nav-pill-chat {
  background: none;
  color: #007d88;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  border-radius: 0px;
  padding: 12px 20px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.visibility-radio .input-group-text {
  border: none;
  background: transparent;
}

.visibility-radio span.input-group-text {
  color: var(--title-sub-color);
  padding-left: 0px;
  font-weight: bold;
}

.form-check-input {
  background-color: var(--background-elevated-base);
  border-color: var(--background-form-border);
  margin-bottom: 0.25rem;
}

.form-check-input:checked {
  background-color: var(--elna-primary-color);
  border-color: var(--elna-primary-color);
  background: var(--elna-primary-color);
}

.btn-knowledge {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

/*Loading Icon*/
.lds-elna {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}

.lds-elna div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 6px;
  background: #80bec3;
  animation: lds-elna 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-elna div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}

.lds-elna div:nth-child(2) {
  left: 12px;
  animation-delay: -0.12s;
}

.lds-elna div:nth-child(3) {
  left: 20px;
  animation-delay: 0;
}

@keyframes lds-elna {
  0% {
    top: 4px;
    height: 32px;
  }

  50%,
  100% {
    top: 8px;
    height: 16px;
  }
}

.error-elna div.error-content {
  // display: grid;
  // justify-content: center;
  // text-align: center;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-bottom: 60px;
}

.error-elna div.error-content img {
  max-width: 360px;
}

.profile-dropdown.dropdown-menu {
  box-shadow: 0 10px 28px -7px rgba(153, 161, 170, 0.15);
  border-color: transparent;
  margin-top: 5px;
  background-color: var(--background-elevated-base);
  color: var(--title-sub-color);

  a {
    color: var(--title-sub-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:hover {
      background-color: var(--background-elevated-base);
      color: var(--title-color);
    }
  }

  i,
  svg {
    color: rgba(0, 125, 136, 1);
  }

  i {
    font-size: 24px;
  }
}

.btn_icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  padding: 0px;
  border: none;
}

.h-full {
  background-color: var(--background-base);
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  border: 1px solid var(--background-base-border);
}

.modal-content {
  background-color: var(--el-color-popup-bg);
  border: 1px solid var(--background-base-border);
}

.modal-header {
  border-color: var(--background-base-border);

  .btn-close {
    background-color: var(--el-btn-bg-secondary);
    padding: 1rem;
    margin: 0px;
  }
}

.hk-pg-wrapper * a.elna-link {
  font-weight: 500;
  color: var(--elna-primary-color) !important;
  text-decoration: none;
}

textarea.form-control {
  background-color: var(--background-elevated-base);
  border-color: var(--background-form-border);
  color: var(--title-color);

  &:focus {
    background-color: var(--background-elevated-base);
    border-color: var(--title-sub-color);
    color: var(--title-color);
    outline: none;
    box-shadow: none;
  }

  &:hover {
    border-color: #24714f;
  }

  &::placeholder {
    color: var(--title-sub-color);
  }
}

.info-text {
  color: var(--info-text-color) !important;
}

.sub-title-color {
  color: var(--title-sub-color);
}

.form-control {
  &:hover {
    border-color: var(--background-form-border);
  }

  &:focus {
    border-color: var(--background-form-border-hover);
    outline: none;
    background: var(--color-bg1);
    box-shadow: none;
  }
}

.form-control {
  background: var(--color-bg1);
  border-color: var(--color-line);
}

.square-btn {
  width: 42px;
  height: 42px;
}
.copy-sec {
  margin-bottom: 16px;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--bs-border-color-translucent);
}

.text-xs {
  font-size: 0.85rem;
}
